# cmake files
.idea/
a.out.dSYM/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Markov
*.cbp

Makefile

# vscode
.vscode/

# .cache folder
.cache/

# vim swap file
*.swp

# input
input/

# output
a.out
output/

data/

# doxygen
html/
latex/

# MacOs
.DS_STORE
